# Core functionality - changes here should be rare!
/src/app.py                   @Narcissus-xwy
/src/backend/database.py      @Narcissus-xwy
/src/backend/routers/auth.py  @Narcissus-xwy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Narcissus-xwy
